<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>51时间轴管理</title>
    <link th:href="@{/css/comm.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript" />
    <script th:src="@{/js/utils.js}" type="text/javascript" />
    <style type="text/css">
        .sjz_title
        {
            font-size: 16px;
            margin: 20px 40px;
        }
        .sjz_nvg
        {
            margin: 15px 40px;
        }
        .sjz_center
        {
            float: right;
            width: 80%;
            min-height: 400px;
        }
    </style>
</head>
<body>
    <div class="sjz_title">
        <h3>51时间轴后台管理系统</h3>
        <hr/>
    </div>
    <div class="sjz_nvg">
        当前位置：首页
    </div>
     <!-- 内容 -->
     <div class="sjz_c">
         <!-- 菜单 -->
         <div th:replace="common/sjz_menu :: sjz_menu"  ></div>
         <div class="sjz_center">

         </div>
     </div>
    <div style="">
    </div>
    <div th:replace="common/sjz_bottom :: sjz_bottom"  ></div>
</body>
</html>