<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>事件管理</title>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/gif" />
    <link th:href="@{/css/comm.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript" />
    <script th:src="@{/js/utils.js}" type="text/javascript" />
</head>
<body>
     <h3>51时间轴事件管理</h3>
     添加失败！
     <a href="/admin/toAddEventIndex" >添加时间轴事件</a>
     <div th:replace="/common/sjz_bottom :: sjz_bottom"  ></div>
</body>
</html>