<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>历史轴登录</title>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/gif"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/sjz_login.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript" />
    <script th:src="@{/js/lcyj-fromVerify_1.0.js}" type="text/javascript" />
    <style>@media print {
        #ghostery-purple-box {
            display: none !important
        } }
    .register
    {
        position: absolute;
        top: 22rem;
        right: 3.9rem;
        border: none;
        color: #fff;
        width: 373px;
        text-align: center;
        background-color: #1692ef;
        text-indent: 0rem;
        border-radius: 25px;
        font-size: 18px;
        height: 50px;
        line-height: 50px;
        text-decoration: none;
    }
    </style>

    <script type="text/javascript">
        /*<![CDATA[*/
        $(document).ready(function(){
            $(".btn").bind("click",function(){
                login();
            });

            $("#LSZ_VC_REFLASH").bind("click",reflash_vc);
        });

        function reflash_vc(){
            $("#LSZ_VC_IMG").attr("src","/verifyImg?vcssid="+new Date().getTime());
        }

        function login(){
            var userName = $("#lsz_login_from_ input[name='userName']").val();
            var password = $("#lsz_login_from_ input[name='password']").val();
            var verifyCode = $("#lsz_login_from_ input[name='verifyCode']").val();
            if(verifyEmail("lsz_login_from_ input[name='userName']")&&
               verifyPasswd("lsz_login_from_ input[name='password']")&&
                verifyCheckCode("lsz_login_from_ input[name='verifyCode']")){
                $.ajax({
                    url:"/login",
                    type: "POST",
                    data:{"userName":userName,
                        "password":password,
                        "verifyCode":verifyCode},
                    success:function(data){
                        var code = data.resultCode;
                        if(code == "0000"){
                            var myIndex = data.resultMsg;
                            window.open(myIndex,"_parent");
                        }else{
                            $(".login_msg").text(data.resultMsg);
                        }
                        reflash_vc();
                    },
                    error:function(){
                        $(".login_msg").text("网络异常稍后再试！");
                    }
                });
            }
        }



        // & 检查参数合法性
        function verifyEmail(emailId){
            var email = $("#"+emailId).val();
            if(ProcessFrom.isBlank(email)){
                show_msg("邮箱不能为空！","red");
                return false;
            }
            if(!ProcessFrom.isEmail(email)){
                show_msg("邮箱格式不正确！","red");
                return false;
            }
            $(".login_msg span").empty();
            return true;
        }

        function verifyPasswd(passwdId){
            var password = $("#"+passwdId).val();
            if(ProcessFrom.isBlank(password) || !ProcessFrom.checkLength(password)){
                show_msg("密码必须合法:6~18位的数字或字母","red");
                return false;
            }
            $(".login_msg span").empty();
            return true;
        }
        function verifyCheckCode(vcId){
            var checkCode = $("#"+vcId).val();
            var len = 4;
            if(!ProcessFrom.isCharLength(checkCode,len)){
                show_msg("验证码必须是"+len+"位数字或字符","red");
                return false;
            }
            $(".login_msg span").empty();
            return true;
        }
        function show_msg(msgTxt,msgColor){
            $(".login_msg span").text(msgTxt).css("color",msgColor)
        }
        /*]]>*/
    </script>
</head>

<body>

<img class="bgone" th:src="@{/images/common/login/1.jpg}"/>
<img class="pic" th:src="@{/images/login_360.png}"/>

<div class="table">
    <div class="wel">历史轴用户密码登录</div>
    <div class="wel1">51SHIJIANZHOU XI TONG HUO TAI DENG LU</div>
    <form id="lsz_login_from_">

        <div class="login_msg" >
            <span></span>
        </div>
        <div class="user">
            <div id="yonghu">
                <img th:src="@{/images/common/login/yhm.png}" />
            </div>
            <input type="text" th:name="userName" value="lvchunyujun@163.com" placeholder="请输入邮箱" />
        </div>
        <div class="password">
            <div id="mima">
                <img th:src="@{/images/common/login/mm.png}"/>
            </div>
            <input type="password" th:name="password" value="000000" placeholder="请输入密码"/>
        </div>
        <div class="verifyImg">
            <div id="jym" style="margin-right: 20px;">
                <img src="/images/common/login/mm.png"/>
                <input type="text" placeholder="请输入验证码" name="verifyCode" style="width: 166px;text-align: center;"/>
                <img id="LSZ_VC_IMG" th:src="@{/verifyImg}" style="right: 20px;position:relative;height:33px;margin-left: 40px;width: 90px;"/>
            </div>
            <a src="javascript:void(0);" id="LSZ_VC_REFLASH" style="line-height: 55px;font-size: 10px;width: 50px;cursor: pointer;" >换一张</a>
        </div>
        <input class="btn" type="button" value="登录" />
    </form>
    <!--<input class="register" type="button" value="免费注册" onclick="javascript:to_register();" />-->
    <a class="register"  href="/toRegistor">免费注册</a>
</div>


</body>
</html>