<!-- paging start -->
.ger_center_
{
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    width: 1000px;
    text-align: center;
}
.ger_text_
{
    color: #1683a8;
    color: #1683a8;
    margin: 20px 5% 0px 0px;
    float: right;
}

#sjz_page_info
{
    float: left;
    margin: 0 10px;
}
<!-- paging start -->