<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hexiaofei.springeurekaclient.dao.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.hexiaofei.springeurekaclient.domain.User">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="password" column="password" />
		<result property="credit" column="credit" />
		<result property="lastLoginTime" column="last_login_time" />
		<result property="loginTime" column="login_time" />
		<result property="lastLoginIp" column="last_login_ip" />
		<result property="ip" column="ip" />
		<result property="email" column="email" />
		<result property="mobilePhone" column="mobile_phone" />
		<result property="status" column="status" />
		<result property="createTime" column="create_time" />
		<result property="payPassword" column="pay_password" />
		<result property="loginNum" column="login_num" />
		<result property="source" column="source" />
		<result property="staff" column="staff" />
		<result property="staff" column="user_type" />
	</resultMap>

	<parameterMap id="User" type="com.hexiaofei.springeurekaclient.domain.User"/>

	<sql id="Base_Column_List">
		`id`,`name`,`password`,`credit`,`last_login_time`,`login_time`,`last_login_ip`,`ip`,`email`,`mobile_phone`,`status`,`create_time`,`pay_password`,`login_num`,`source`,`staff`,`user_type`
	</sql>

	<select id="selectUserById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user
		where id = #{id}
	</select>

</mapper>
