<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>关联模式单元管理</title>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/gif" />
    <link th:href="@{/css/comm.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/sjz_paging.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript" />
    <script th:src="@{/js/utils.js}" type="text/javascript" />
    <script th:src="@{/js/sjz_paging.js}" type="text/javascript" />

    <style type="text/css" >

        .sjz_center_content thead
        {
            background-color: #eaeaea;
        }
    </style>

    <script type="text/javascript">

        var pageVo =
            {   bUrl:"/admin/rpu/list/",
                sBUrl:"_",
                dPageNo:1,
                dPageSize:10,
                bootstrapDiv:{
                           id_:"sjz_center_content_tbody"
                },
                rootDiv:{
                    class_:"sjz_center_content_tr"
                },
                voMapping:{
                    id:{
                        tagType:"text"

                    },
                    patternName:{
                        tagType:"text"

                    },
                    unitSerialNo:{
                        tagType:"text"
                    },
                    regExpCode:{
                        tagType:"text"
                    },
                    relateType:{
                        tagType:"text_type",
                        typeMap:{
                            0:"包含",
                            10:"排除"
                        }
                    },
                    useStatus:{
                        tagType:"text_type",
                        typeMap:{
                            0:"开启",
                            10:"关闭"
                        }
                    },
                    u_d_operation:{
                        tagType:"a_operation",
                        indexName:"patternName",
                        updateHref:"/admin/rpu/toUpdateUnit/",
                        updateTxt:"修改",
                        deleteHref:"/admin/rpu/delete/",
                        deleteTxt:"删除"
                    }
                },
                getUrl:function () {
                    return pageVo.bUrl+pageVo.dPageNo+pageVo.sBUrl+pageVo.dPageSize;
                }
            };

    </script>

</head>
<body>
    <div class="sjz_title">
        <img th:src="@{/images/51shijianzhou.png}" class="sjz_title_img" /><h3>关联模式单元管理</h3>
    </div>
    <div class="sjz_nvg">
        当前位置：<a href="/admin/index">首页</a> > 关联模式单元管理
    </div>
    <div class="sjz_c">
        <!-- 菜单 -->
        <div th:replace="common/sjz_menu :: sjz_menu"  ></div>
        <div class="sjz_center">
            <div>
                <div></div>
                <div class="sjz_center_ad"><a href="/admin/rpu/toAdd">添加</a></div>
            </div>
            <table class="sjz_center_content">
                <thead>
                   <tr>
                       <th style="width: 8%;"> 序号 </th>
                       <th style="width: 8%;"> 匹配模板名称 </th>
                       <th style="width: 8%" >顺序号</th>
                       <th style="width: 30%">正则表达式代码</th>
                       <th style="width: 8%;"> 关联类型 </th>
                       <th style="width: 8%;"> 使用状态 </th>
                       <th style="width: 8%;"> 操作 </th>
                   </tr>
                </thead>

                <tbody id="sjz_center_content_tbody">
                </tbody>
            </table>
            <div class="ger_center_ ger_text_">
                <div id="sjz_page_info"></div>
                <a id="previous_page" href="javascript:void(0);" style="color: #1683a8;text-decoration:none">上一页</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a id="next_page" href="javascript:void(0);" style="color: #1683a8;text-decoration:none" >下一页</a>
            </div>
        </div>
    </div>
    <div th:replace="common/sjz_bottom :: sjz_bottom"  ></div>
</body>
</html>